Repository ibuclaw/dmd, changes with the owners that CODEOWNERS names for each.
All owners: @MartinNowak, @RazvanN7, @UplinkCoder, @Geod24, @klickvebot, @WalterBright, @CyberShadow, @ibuclaw, @andralex, @jacob-carlborg, @rainers, @klickverbot, @wilzbach

Fix CircleCI [2nd try]
  .circleci/run.sh
Owners: none

[Azure, 4th try]
  .azure-pipelines/windows-msbuild.bat
  .azure-pipelines/windows.sh
Owners: none

auto-tester-build: Build both dmd and druntime in one step
  posix.mak
  win32.mak
Owners: @MartinNowak, @wilzbach

[Azure, 5th try]
  .azure-pipelines/windows-msbuild.bat
  .azure-pipelines/windows.sh
Owners: none

[Azure, 6th try]
  .azure-pipelines/windows.sh
  compiler/test/run.d
Owners: none

[adapt to changed paths in .gitattributes]
  .gitattributes
Owners: none

src/dmd: Add some dummy files
  src/dmd/backend/dvec.d
  src/dmd/mars.d
Owners: none

src/win64.mak: Add proxy Makefile
  src/win64.mak
Owners: none

src/win32.mak: Add proxy Makefile
  src/win32.mak
Owners: none

fix Issue 23431 - [REG 2.101.0][ICE] Segmentation fault in Dsymbol::toParent() (this=0x0) at dmd/dsymbol.d:561
  compiler/test/compilable/test23431.d
  compiler/test/compilable/test23431_minimal.d
Owners: none

dmd.dtemplate: Move setting of fargs out of findExistingInstance
  compiler/src/dmd/dsymbolsem.d
  compiler/src/dmd/dtemplate.d
Owners: none

Supplementary fix for issue 23589 - Purity check special case gives circular reference error
  compiler/src/dmd/expression.d
  compiler/src/dmd/expressionsem.d
  compiler/test/compilable/test18694.d
  compiler/test/fail_compilation/fail18694.d
  compiler/test/fail_compilation/fail21464.d
  compiler/test/fail_compilation/imports/test21464a.d
Owners: none

catch iasm_arm up to stylistic changes that iasm received
  src/iasm_arm.c
Owners: none

incorporate fixes for OPva_start
  src/e2ir.c
Owners: none

more catchup work -- arm tests pass, though most are disabled
  src/backend/arm_codout.c
  src/backend/elfobj.c
  src/backend/machobj.c
  src/backend/obj.h
  src/iasm_arm.c
  src/posix.mak
  test/compilable/arm_iasm.d
Owners: @ibuclaw, @klickverbot, @MartinNowak, @wilzbach

pr15996
  druntime/src/core/atomic.d
  druntime/src/core/internal/atomic.d
  druntime/src/core/stdc/stdatomic.d
Owners: none

ddoc: Replace warnings with regular message diagnostic
  compiler/src/dmd/doc.d
  compiler/test/compilable/ddoc1.d
  compiler/test/compilable/ddoc10.d
  compiler/test/compilable/ddoc10236.d
  compiler/test/compilable/ddoc10236b.d
  compiler/test/compilable/ddoc13502.d
  compiler/test/compilable/ddoc15475.d
  compiler/test/compilable/ddoc4899.d
  compiler/test/compilable/ddoc_18083.d
  compiler/test/fail_compilation/ddoc_18083.d
Owners: @andralex, @jacob-carlborg

Remove complex and imaginary types from language in Edition v2024
  compiler/src/dmd/lexer.d
  compiler/src/dmd/parse.d
  compiler/test/compilable/edition_complex.d
  compiler/test/fail_compilation/edition_complex.d
  compiler/test/fail_compilation/edition_complex2.d
Owners: none

Revert "Split core.thread.fiber to package.d and base.d (#16695)"
  druntime/mak/COPY
  druntime/mak/DOCS
  druntime/mak/SRCS
  druntime/src/core/thread/fiber/base.d
  druntime/src/core/thread/fiber/package.d
Owners: none

reorder lookup
  compiler/src/dmd/file_manager.d
Owners: none

dmd.errors: Add experimental i18n support
  compiler/src/dmd/errors.d
  intl/dmd.pot
  intl/keywords.list
  intl/regenerate-pot.sh
Owners: none

druntime, posix.sys.types: Use X32 definitions on all linux platforms
  druntime/src/core/sys/posix/sys/types.d
Owners: none

errors: Rename warning to inform
  compiler/src/dmd/cparse.d
  compiler/src/dmd/doc.d
  compiler/src/dmd/dtemplate.d
  compiler/src/dmd/dtoh.d
  compiler/src/dmd/errors.d
  compiler/src/dmd/errors.h
  compiler/src/dmd/errorsink.d
  compiler/src/dmd/frontend.d
  compiler/src/dmd/frontend.h
  compiler/src/dmd/inline.d
  compiler/src/dmd/lexer.d
  compiler/src/dmd/sarif.d
Owners: @ibuclaw, @WalterBright, @andralex, @jacob-carlborg, @klickverbot

fix #21718 - _Alignas specifiers cannot reduce alignment of variables
  compiler/src/dmd/astenums.d
  compiler/src/dmd/cparse.d
  compiler/src/dmd/dsymbolsem.d
  compiler/src/dmd/frontend.h
  compiler/src/dmd/globals.h
  compiler/test/compilable/aligned1.c
  compiler/test/compilable/aligned2.c
Owners: @ibuclaw, @WalterBright, @klickverbot

dmd.expression: Move all other small fields into the Expression padding
  compiler/src/dmd/common/bitfields.d
  compiler/src/dmd/expression.d
  compiler/src/dmd/expressionsem.d
Owners: none

dmd.expression: Change StringExp.len from size_t to uint
  compiler/src/dmd/dcast.d
  compiler/src/dmd/expression.d
Owners: none

CODEOWNERS:

# See also:
# - https://github.com/blog/2392-introducing-code-owners
# - https://help.github.com/articles/about-codeowners/

# Each line is a file pattern followed by one or more owners (sorted alphabetically).
# Please feel free to add yourself to a module or create a new mapping.
# Ideally each module should have two or more owners.

# Code owners are automatically requested for review
# when someone opens a pull request that modifies code that they own.
# Later matches take precedence.

compiler/src/dmd/access.d @MartinNowak
compiler/src/dmd/astbase* @RazvanN7
compiler/src/dmd/astcodegen.d @RazvanN7
compiler/src/dmd/asttypename.d @UplinkCoder
compiler/src/dmd/attrib.d @Geod24
compiler/src/dmd/builtin.d @klickvebot @WalterBright
compiler/src/dmd/cond.d @Geod24
compiler/src/dmd/console.d @CyberShadow
compiler/src/dmd/cppmangle.d @ibuclaw @Geod24
compiler/src/dmd/cparse.d @ibuclaw @WalterBright
compiler/src/dmd/ctfeexpr.d @UplinkCoder
compiler/src/dmd/doc.d @andralex @jacob-carlborg
compiler/src/dmd/dscope.d @Geod24
compiler/src/dmd/hdrgen.d @UplinkCoder @WalterBright
compiler/src/dmd/iasm.d @ibuclaw @WalterBright
compiler/src/dmd/iasmdmd.d @WalterBright
compiler/src/dmd/iasmgcc.d @ibuclaw
compiler/src/dmd/mars.d @MartinNowak @Geod24 @rainers @UplinkCoder @WalterBright
compiler/src/dmd/objc* @jacob-carlborg
compiler/src/dmd/permissivevisitor.d @RazvanN7
compiler/src/dmd/target.d @ibuclaw @MartinNowak
compiler/src/dmd/transitivevisitor.d @RazvanN7
compiler/src/dmd/vcbuild @rainers

# GitHub's implementation of the CODEOWNERS format is buggy, it doesn't allow src/dmd/*.h
*.h @ibuclaw @klickverbot

# CI & automation
posix.mak @MartinNowak @wilzbach
src/posix.mak @MartinNowak @wilzbach
circle.sh @MartinNowak @wilzbach
